# dependencies
/node_modules
/npm-pkg
npm.tgz
bootstrap-npm.js

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# accidental local drops (not tracked)
/G_w2eOFXUAQzUdB.jpg
